body {
   font-family: Arial, sans-serif;
   background-color: rgb(43, 42, 42);
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
  
   height: 100vh;
 }

 h1 {
   color: #f1f1f1;
   margin-top: 0;
 }
 
 .container {
   text-align: center;
   margin-top:20px;
   padding: 3em;
 }
 
 #wordContainer {
  display: flex;
  justify-content: center;
  column-gap: 20px;
   margin-bottom: 20px;
 }
 
 input[type="text"] {
   width:300px;
   padding: 10px;
   font-size: 60px;
   font-weight: 600;
   text-align: center;
   letter-spacing:1px;
   background-color: #007bff;
   color: #f1f1f1;
   border: none;
   border-radius: 5px;
 }

 .check {
height:95px;
}
 
 button {
  height:95px;
   padding: 10px 20px;
   font-size: 16px;
   background-color: #007bff;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
 }
 
 button:hover {
   background-color: #0056b3;
 }
 
 #feedback {
   margin: 0 auto;
   margin-bottom: 20px;
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
   color: #007bff;
   letter-spacing: 1px;
   line-height: 80px;
 }
 
 .hint-letter {
  display: inline-block;
  width: 80px;
   font-size: 60px;
   color: #f5ca0a; /* blauw */
   background-color: #007bff;
   padding: 10px 17px;
   border: 2px solid #f1f1f1;
 }
 
 .hint-correct {
  display: inline-block;
  width: 80px;
   font-size: 60px;
   color: lime; /* groen */
   text-transform: lowercase;
   padding: 10px 17px;
   background-color: #007bff;
   border: 2px solid #f1f1f1;
 }

 .white {
  width:100%;
   color: white;
   font-size:24px;
}

 .hint-geraden {

 padding-top: 20px;
 color: #f1f1f1;
}
 
 .hint-wrong {
  display: inline-block;
  width: 80px;
   font-size: 60px;
   color: #fcfafa; /* rood */
   padding: 10px 17px;
   background-color: #007bff;
   border: 2px solid #f1f1f1;
 }

 #previousAttempts {
  height: auto; /* Zorg ervoor dat de container de hoogte van de inhoud aanpast */
  overflow-y: auto; /* Voeg een schuifbalk toe als de inhoud groter is dan de container */
}

#previousAttempts p {
  margin-bottom: 5px; /* Voeg 5 pixels margin toe onder elke paragraaf */
}

span {
margin-bottom: 20px;
}
